@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
body{
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
}
section{
    width: 1200px;
    margin: 0 auto;
}
#header{
    padding:50px;
}
#header div{
    display: inline-block;
}
#header .contato{
    float: right;
}
nav.menu{
    background-color: #ffda1f;
    text-align: center;
}
nav.menu ul li{
    display: inline-block;
    padding: 18px 90px; 
    font-size:17px;
}
nav.menu ul li a{
    color: #000;
}
a{
  text-decoration: none;
}
.banner img{
    width: 100%;
}
.marcas ul li {
    display: inline-block;
    font-size: 35px;
    width: 16%;
    padding: 50px;
}
.item {                         /*Utilize o inspecionar do navegador para modificar facilmente*/
    display: inline-block;
    width: 30%;
    padding: 1.5%;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: #3e3e3e;
    margin-block-end: 10px;
  }
  .item img {
    width: 100%;
  }
  .item .title {                
    font-size: 24px;
    font-weight: bold;          /*Colocar em negrito*/
    color: #1e1e1e;
  } 
  .financiamento {
    background: #ffda1f;
    text-align: center;         /*Alinhar o texto*/
    font-size: 30px;            /*Tamanho da fonte*/
    font-weight: bold;          /*Colocar negrito*/
    padding: 50px;              /*Espaçamento da página*/
    line-height: 40px;          /*Espaçamento do texto*/
  } 
  .botao a {
    background: #000;
    color: #fff;
    padding: 10px 30px;
  }
  .botao {
    margin-top: 30px;
  }
  .produtos, .depoimentos{    /* , utilizado para colocar mais de um*/
    text-align: center;
    margin-top: 8px;
  }
  .titulo{
    font-size: 45px;
    font-weight: bold;
  }
  .subtitulo{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-top: 15px;
  }
  .sublinhado{
    width: 250px;
    background: #ffda1f;
    height: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  a:hover{                  /*hover: passar o mouse em cima*/
    transition: 0.3s;
    opacity: 0.8;
  }
  footer{
    background-color: #474747;
    margin-top: 20px;
  }
  footer .item{
    color: #fff;
  }
.depoimentos .item{
  border: 1px solid #474747;
  width: calc(30% - 2px);       /*calc: faz calculos de acordo com o que pede*/
  padding: 10px 15px;
  margin-inline: 3px;
}
.depoimentos img{
  width: 100px;
  border-radius: 50px;
  margin-top: 8px;
}
.depoimentos .cliente{
  margin-bottom: -100px;
  padding-top: 10px;
}
.depoimentos .cliente .nome{
  font-weight: bold;
}
.depoimentos .cliente2{
  margin-bottom: -100px;
  padding-top: 10px;
}
.depoimentos .cliente2 .nome{
  font-weight: bold;
}
.depoimentos .cliente3{
  margin-bottom: -100px;
  padding-top: 10px;
}
.depoimentos .cliente3 .nome{
  font-weight: bold;
}